<div class="video">
  <img
    alt=""
    class="thumbnail"
    style="background-color: transparent"
    src="https://i.ytimg.com/vi/dQw4w9WgXcQ/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&amp;rs=AOn4CLDd7bl4P7By8G8OG22vtHQSLfxASg"
  />
  <div class="details">
    <span class="material-symbols-sharp avatar">account_circle</span>
    <div>
      <div class="title">
        Rick Astley - Never Gonna Give You Up (Official Music Video)
      </div>
      <div class="stats">Rick Astley</div>
      <div class="stats">1.6B views · 15 years ago</div>
    </div>
    <span class="material-symbols-sharp filled">more_vert</span>
  </div>
</div>
