<main>
  <header>
    <div class="start">
      <button mat-icon-button class="side-nav">
        <span class="material-symbols-sharp">menu</span>
      </button>
      <app-logo />
    </div>

    <div class="center">
      <app-search />
    </div>

    <div class="end">
      <button mat-icon-button>
        <span class="material-symbols-sharp filled">more_vert</span>
      </button>
      <button mat-stroked-button class="sign-in">
        <div>
          <span class="material-symbols-sharp">account_circle</span>
          <span>Sign In</span>
        </div>
      </button>
    </div>
  </header>
  <app-side-nav />
  <div class="main-content">
    <app-filters-bar />
    <app-videos />
  </div>
</main>

<router-outlet />
