<main>
  <header>
    <div class="start">
      <button mat-icon-button class="side-nav">
        <mat-icon>menu</mat-icon>
      </button>
      <app-logo />
    </div>

    <div class="center">
      <app-search />
    </div>

    <div class="end">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-stroked-button class="sign-in">
        <mat-icon color="none" fontSet="material-icons-outlined"
          >account_circle</mat-icon
        >Sign In
      </button>
    </div>
  </header>
  <app-side-nav />
</main>

<router-outlet />
