:host {
  font-size: 14px;
  font-weight: 500;
}

.chip-set {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 56px;
  gap: 12px;
  overflow: scroll;
  scrollbar-color: #fff transparent;

  .arrow {
    position: absolute;
    display: flex;
    background: transparent;
    z-index: 1;

    .button-container {
      background: #fff;
    }

    &.left {
      &:after {
        content: "";
        width: 50px;
        pointer-events: none;
        background: linear-gradient(
          to right,
          #fff 20%,
          rgba(255, 255, 255, 0) 80%
        );
      }
    }

    &.right {
      right: 0;
      &:before {
        content: "";
        width: 50px;
        pointer-events: none;
        background: linear-gradient(
          to left,
          #fff 20%,
          rgba(255, 255, 255, 0) 80%
        );
      }
    }
  }
}

mat-basic-chip {
  height: 32px;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;

  &.selected,
  &.selected:hover {
    background-color: #000;
    color: #fff;
  }

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
